# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env

# Django
db.sqlite3
*.log
*.pot
*.py[cod]
*.sqlite3
*.pyproj
*.sublime-project
*.sublime-workspace
local_settings.py
instance/
.webassets-cache
# Si tu utilises des migrations, on garde le dossier migrations mais pas les fichiers pyc
*/migrations/__pycache__/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Environnements virtuels
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs et éditeurs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# PyCharm
# JetBrains specific template for Python
__pycache__/
*.py[cod]
*.swp
*.idea
.idea/

# Pycharm & vscode specific settings
.vscode/
*.env

# Static et médias
/static/
media/

# Fichiers de test ou temporaires
coverage/
*.cover
*.tmp
*.mo
*.pot
test*.log
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Pipenv
Pipfile.lock

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Logs et autres
*.log
*.pot
*.py[cod]